#DB_PORT_9042_TCP_ADDR: cassandra

server:
  port: 8010
#spring.data.cassandra.contact-points= cassandra
spring:
  data:
    cassandra:
      port: 9042
      keyspace-name: Movies
      schema-action: create_if_not_exists
      contact-points:
        - 192.168.122.42
  application:
    name: registry-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,env
eureka:
  client:
    service-url:
      defaultZone: http://192.168.122.87:8761/eureka/
  instance:
    prefer-ip-address: true

upload:
  path: /opt/media/


