#DB_PORT_9042_TCP_ADDR: cassandra

server:
  port: 8010
#spring.data.cassandra.contact-points= cassandra
spring:
  data:
    cassandra:
      port: 9042
      keyspace-name: Movies
      schema-action: create_if_not_exists
      contact-points:
        - cassandra
  application:
    name: registry-service

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,env
  metrics:
    distribution:
      percentiles-histogram[http.server.requests]: true
      sla:
        http:
          server:
            requests: 1ms, 5ms
eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka/
  instance:
    prefer-ip-address: true

upload:
  path: C:/Users/Davide/IdeaProjects/benchmark/media/

